body {
    background-color: var(--darkBlue);
    
}    
.advice-card {
    background-color: var(--grayishBlue);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}